@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}

.clearfix::after {
  content:"";
  display:block;
  clear:both;
}

.hidden {
  display:none;
}

/* ---------------------------------------
parts
--------------------------------------- */


.header {
  width:100%;
  padding:30px 0 10px;
  background-color:rgba(0,0,0,0.5);
  position:fixed;
  z-index:10;
  height:110px;
}

.top {
  width:100%;
  background:url(../images/back1.jpg);
  background-size:cover;
  height:500px;
  padding:200px  50px;
}

.wrapper {
  width:970px;
  margin:30px auto 40px;
}

.main {
  display:block;
  float:left;
  width:660px;
}

.side-menu {
  display:block;
  float:right;
  width:280px;
}

.footer {
  width:100%;
  border:1px,solid,#111;
  background-color:#333;
  height:100px;
  padding:20px;
}

/* ------------------------------------------------------------ */
/* ------------------------------header------------------------------ */
.title {
  color:#fff;
  font-weight:bold;
  font-size:2rem;
  letter-spacing:4px;
  display:inline-block;
}

.title::before,
.title::after {
  content:"";
  display:inline-block;
  width:15px;
  height:15px;
  border:2px dotted;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  vertical-align:5px;
  margin:0 10px;
}

.global-nav {
  margin-top:15px;
  position:relative;
}

.global-nav .nav-item {
  display:inline-block;
  margin:0 10px;
  letter-spacing:1px;
  border-radius:5px;
  padding:5px;
  transition:0.3s;
}

.global-nav .nav-item:hover {
  background-color:rgba(255,255,255,0.5);
}

.active {
  background-color:rgba(255,255,255,0.5);
}

/* .active::after {
  content:"▼";
  display:block;
  height:5px;
  width:5px;
  color:rgba(255,255,255,0.5);
  position:absolute;
  bottom:-4px;;
  left:468px;

} */

/* --------------------top------------------------ */

.top-text {
  color:rgba(255,255,255,0.8);
  letter-spacing:2px;
  font-size:2.5rem;
  padding:10px 0 ;
}

.tt {
  font-size:1.2rem;
}

/* ----------------------------------main--------------------------------- */
/* -------------hot-topic------------- */

.hot-topic {
  display:block;
  height:300px;
  margin-bottom:30px;
  box-shadow:0 6px 4px -4px rgba(0,0,0,0.15);
  transition:opacity 0.15s;
}


.hot-topic:hover {
  opacity:0.8;
}

.hot-topic .image {
  float:left;
  width:50%;
  height:100%;
}

.hot-topic .content {
  position:relative;
  float:right;
  width:50%;
  height:100%;
  padding:105px 25px 0 ;
  background-color:#2d3d54;
}

.hot-topic .date {
  position:absolute;
  top:60px;
  left:0;
  width:180px;
  padding:4px;
  background-color:#fff;
  color:#2d3d54;
  text-align: center;
  letter-spacing: 1px;
  line-height:1;
}

.hot-topic .content-text {
  color:#ddc;
  font-size:0.9rem;
}

.hot-topic .content-title {
  margin-bottom:15px;
  color:#fff;
  font-weight:normal;
  font-size:1.1rem;
}

/* --------article-------------- */

.article-content{
  height:800px;
  overflow-y: auto;
}

.article-title {
  padding:10px;
  margin:10px 0 ;
  font-size:1.7rem;
  position:relative;
}

.article-title::before,
.article-title::after {
  content:"";
  display:block;
  position:absolute;
  right:0;
  left:0;
  bottom:0;
  border-bottom:1px solid #333;
  width:80%;
  margin:0 auto;
}

.article-title::after {
  bottom:7px;
}

.article-box {
  display:block;
  width:315px;
  height:360px;
  margin-bottom:30px;
  padding:210px 15px 0 ;
  transition:opacity 0.3s;
  position:relative;
  box-shadow:0 8px 10px  rgba(0,0,0,0.15);
  overflow: hidden;
}

.article-box:hover {
  opacity:0.8;
  /* box-shadow: none;
  position:relative;
  top:5px;
  left:0; */
}

.article-box .image {
  width:100%;
  position:absolute;
  top:0;
  left:0;
  height:205px;
}

.article-box:nth-of-type(odd) {
  float:left;
}

.article-box:nth-of-type(even) {
  float:right;
}

.article-box-title {
  margin-top:10px;
  color:#333;
  font-size:1.4rem;
  line-height:1.6;
}

.article-box .desc {
  margin-top:5px;
  color:#333;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  display: block;
  height:50px;
}

.article-box .date {
  position:absolute;
  right:0;
  bottom:15px;
  display:block;
  width:160px;
  padding:4px;
  background-color:#2d3d54;
  color:#fff;
  text-align:center;
  letter-spacing:1px;
  opacity:0.8;
}

.article-idea {
  margin-top:60px;
}

.article-content a:hover::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  display:block;
  height:205px;
  background:rgba(0,0,0,0.5);
  z-index:1;
  opacity:0.8;
}

.article-content a::after {
  content:"MORE";
  position:absolute;
  top:23%;
  left:150%;
  margin-left:-50px;
  display:block;
  width:100px;
  padding:8px;
  border:3px solid #fff;
  color:#fff;
  text-align:center;
  letter-spacing:3px;
  font-size:1.5rem;
  transition:all 0.3s ease-in-out;
  z-index: 2;
}

.article-content a:hover::after {
  left:50%;
}


/* -------------------sidemunu----------------------*/
.self-introdaction {
  border:2px solid rgba(#333,0.8);
  padding:10px;
}

.self-introdaction .self-image {
  width:70%;
  border-radius:50%;
  display:block;
  margin:0 auto;
  border:3px solid #f2dfbb;
  transition: 0.3s;
}

.self-introdaction .self-image:hover {
  transform:rotate(365deg);
  -webkit-transform: rotate(365deg);
  -ms-transform: rotate(365deg);
}

.self-introdaction .sns-list {
  list-style: none;
  margin-top:20px;
}

.self-introdaction .sns-list a {
  color:#fff;
  letter-spacing:1px;
  padding:7px 0;
}



.self-introdaction .sns {
  display:inline-block;
  color:#fff;
  padding:10px;
  border-radius:20px;
  opacity:0.85;
}

.self-introdaction .sns:hover {
  opacity:1;
}

.facebook {
  background-color:#3b5998;
}

.instagram{
  background-color:#cf2792;
}

.fa {
  margin-right:3px;
}

.self-introdaction-text {
  display:block;
  margin-top:15px;
  line-height:1.2;
}

.name {
  display:inline-block;
  margin-bottom:10px;
  padding-bottom:5px;
  border-bottom:1px double #333;

}

/* ----------------sidemenu-ranking------------------- */
.ranking {
  margin-bottom:30px;
  list-style:none;
  counter-reset:ranking;
}

.ranking .ranking-item {
  margin-top:15px;
}

.ranking .ranking-item a {
  display:block;
  font-size:0;
  transition:opacity 0.15s;
  padding:5px;
  box-shadow:3px 3px 5px 5px rgba(0,0,0,0.15);
}

.ranking .ranking-item a:hover {
  opacity:0.8;
  box-shadow:none;
  position:relative;
  top:3px;
  left:3px;
}

.ranking .image {
  width:58px;
  height:58px;
}

.ranking .text {
  display:inline-block;
  width:167px;
  color:#000;
  vertical-align:top;
  font-size:1rem;
  line-height:1.5;
  text-align:left;
}

.ranking .order {
  display:inline-block;
  width:25px;
  height:25px;
  border:1px solid #ccc;
  color:#aaa;
  vertical-align:25px;
  text-align:center;
  margin:0 9px;
  -webkit-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  line-height:35px;
}

.ranking .ranking-item:nth-of-type(1) .order,
.ranking .ranking-item:nth-of-type(2) .order,
.ranking .ranking-item:nth-of-type(3) .order {
  border:none;
  color:#fff;
  font-weight:normal;
}

.ranking .ranking-item:nth-of-type(1) .order {
  background-color:#dab413;
}
.ranking .ranking-item:nth-of-type(2) .order {
  background-color:#6e7b84;
}
.ranking .ranking-item:nth-of-type(3) .order {
  background-color:#a0541a;
}

.ranking .order::before {
  content:counter(ranking);
  counter-increment:ranking;
  display:inline-block;
  font-size:1rem;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  line-height:10px;
}

.ranking .ranking-item:nth-of-type(4) .order::before,
.ranking .ranking-item:nth-of-type(5) .order::before,
.ranking .ranking-item:nth-of-type(6) .order::before,
.ranking .ranking-item:nth-of-type(7) .order::before {
  position:relative;
  top:0;
  left:2px;
}

.brand {
  padding-top:110px;
  scroll-behavior: smooth;
}

.brand-list {
  list-style: none;
  line-height:2;
}

.brand-list li {
  border-radius:10px;
  transition:background-color 0.5s linear;
}

.brand-list  li:hover {
  background-color:rgba(172, 119, 226, 0.678);
}

.brand-list a {
  display:block;
  width:100%;
}

.brand p {
  display:block;
  margin-top:20px;
}

.search-wrapper {
  margin-top:50px;
}

.search-box {
  padding:15px;
  background-color:rgba(119,119,119,0.8);
  border-radius:20px;
}

.search-box .search-input {
  width:200px;
  height:25px;
}

.search-box p {
  display: block;
  padding-top:10px;
  font-size:0.8rem;
}

/* ------------------------------footer-----------------------------*/

.horizontal-list .horizontal-item {
  display:inline-block;
  margin:0 10px;
  position:relative;
}

.horizontal-list .horizontal-item a {
  color:#fff;
  transition:color 0.3s;
}

.horizontal-list .horizontal-item a:hover {
  color:#60b6dd;
}

.horizontal-list .horizontal-item:nth-of-type(2) a::before,
.horizontal-list .horizontal-item:nth-of-type(3) a::before,
.horizontal-list .horizontal-item:nth-of-type(4) a::before {
  content:"|";
  display:block;
  width:5px;
  height:4px;
  color:#fff;
  position:absolute;
  top:0;
  left:-15px;
}

.footer p {
  display:block;
  width:180px;
  height:20px;
  margin:20px auto;
  color:#fff;
}





/* ------------------------------go-top---------------------------------- */
.go-top{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 60px; 
  text-align: center;
  background:rgba(0,0,0,0.5);
  border-radius:3px;
}

.go-top a{
  color: #FFF;
  line-height: 60px;
  display: inline-block;
  width: 100%;
}

.go-top svg{
  padding: 18px 0;
}
